.container {
    display: flex;
    gap: 6.75rem;
    margin: auto 8.37rem  9.56rem 8.37rem ;

    & .frame {
        flex: 1;
        display: flex;
        height: 100%;

    }

    & .content {
        display: grid;
    }

    & .descriptions {
        & h3 {
            font: var(--font-overline);
            text-transform: var(--overline-transform);
            color: var(--background-gray);
            margin-bottom: 0.75rem;
        }

        & h1 {
            font: var(--display-large);
            color: var(--content-primary);
            margin-bottom: 2.37rem;
        }
    }

    & .questions {
        display: flex;
        align-items: flex-start;
        margin-left: 0;
        gap: 0.5rem;

        & .sub-content {
            flex-direction: column;
            margin-bottom: 2.25rem;

            & span {
                font: var(--font-paragraph-medium);
                color: var(--content-brand);
            }

            & p {
                font: var(--font-paragraph-small);
                color: var(--content-secondary);
            }
        }   
    }

    & .content-form {
        display: grid;
        margin-top: 2.25rem;

        & .title-form{
            margin-bottom: 2.5rem;

            & h2 {
                font: var(--font-label-medium);
                color: var(--content-primary);
            }

            & p {
                font: var(--font-paragraph-large);
                color: var(--content-secondary);
            }
        }

       & .fields {
            display: flex;
            gap: 0.75rem;

            & .number-field {
                display: flex;
                flex-direction: column;
                align-items: center;

                & label {
                    width: 100%;
                    margin-bottom: 1rem;
                    text-align: center;
                    font: var(--font-label-medium);
                    color: #C7C9CC;
                }

                & input {
                    width: 100px;
                    height: 56px;
                    display: block;
                    text-align: center;
                    background-color: var(--background-secondary);
                    border-radius: 0.8rem;
                    border: none;
                    font: var(--font-display-small);
                    color: var(--content-primary);
                }

                & input[type="number"] {
                    -moz-appearance: textfield; 
                }

                & input[type="number"]::-webkit-inner-spin-button,
                & input[type="number"]::-webkit-outer-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }
            }  
        }

        & .toggle {
            display: flex;
            align-items: center;
            margin-top: 1.25rem;
            gap: 0.5rem;

            & p {
                margin: 0;
                font: var(--font-paragraph-large);
                color: var(--content-secondary);
            }

            & .switch {  
                position: relative;
                display: inline-block;
                width: 60px;
                height: 34px;
            }

            & .switch input {
                opacity: 0;
                width: 0;
                height: 0;
            }

            & .slider {
                position: absolute;
                cursor: pointer;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: #ccc;
                -webkit-transition: .4s;
                transition: .4s;
            }

            & .slider:before {
                position: absolute;
                content: "";
                height: 26px;
                width: 26px;
                left: 4px;
                bottom: 4px;
                background-color: white;
                -webkit-transition: .4s;
                transition: .4s;
            }

            & input:checked + .slider {
                background: var(--gradient-background);
            }

            & input:focus + .slider {
                box-shadow: 0 0 1px var(--background-gray);
            }

            & input:checked + .slider:before {
                -webkit-transform: translateX(26px);
                -ms-transform: translateX(26px);
                transform: translateX(26px);
            }

            & .slider.round {
                border-radius: 34px;
            }

            & .slider.round:before {
                border-radius: 50%;
            }
        }

       & button {
            display: flex;
            width: 30.12rem;
            height: 3.5rem;
            margin-top: 2.5rem;
            border-radius: 0.8rem;
            border: none;
            background: var(--background-tertiary);
            font:  var(--font-label-medium);
            color: var(--content-primary);
            align-items: center;
            justify-content: center;
            gap: 0.5rem;

            & button::before {
                content: "";
                position: absolute;
                top: -2px;
                left: -2px;
                right: -2px;
                bottom: -2px;
                z-index: -1;
                border-radius: 0.8rem;
                background: var(--gradient-border);
                background-size: 300% 300%;
                animation: moveGradient 6s linear infinite;
            }

             @keyframes moveGradient {
                0% {
                    background-position: 0% 50%;
                }
                50% {
                    background-position: 100% 50%;
                }
                100% {
                    background-position: 0% 50%;
                }
            }   
        }  
    }
}





