.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6.75rem;
  margin: auto 8.37rem 9.56rem 8.37rem;
}

@media (max-width: 1366px) {
  .container {
    display: grid;
    grid-template-columns: 1fr; 
    grid-template-rows: 1fr;
    overflow-wrap: break-word;
    gap: 1px;
    align-items: center;
    justify-items: center;

     & .content {
      grid-row: 1;
      margin-bottom: 0;
    
    }

     & .ques {
      grid-row: 3;
      margin-top: 5rem;

     }

     & .content-form {
      grid-row: 2;
      grid-column: 1;
      margin-top: 4.62rem;
       & form {
         align-items: center;
         justify-items: center;
       }
     }
  }
}
