.content {
  grid-column: 1;
  grid-row: 1;
}

.descriptions {
    & h3 {
        font: var(--font-overline);
        text-transform: var(--overline-transform);
        color: var(--background-gray);
        margin-bottom: 0.75rem;
    }

    & h1 {
        font: var(--display-large);
        color: var(--content-primary);
        margin-bottom: 2.37rem;
    }
}


